params {
	fastqFiles		= "/gpfs/scratch/Far1/*.fastq.gz"
	refPrefixFiles          = "$baseDir/../references/*.{amb,ann,bwt,pac,sa}"
	refFilesGatk            = "$baseDir/../references/*.fa"
	filterFastq             = "Yes"
	alignment               = "Yes"
	pseudoDiploGeno         = "Yes"
	sampleName              = "Far1"
	
}
