params {

	fastqFiles		= "/gpfs/scratch/u8401/ru83ced/ru83ced/aurochsProject/fastqFiles/verdugoEtAlSamples/trial/*_[0-9]*.fastq.gz"
    	reference 		= "/dss/dsshome1/lxc03/ru83ced/data/references/Bos_taurus/Ensembl/ARS-UCD1.2/Sequence/WholeGenomeFasta/genome.fa"
	filterFastq             = "Yes"
	alignment               = "Yes"
	pseudoDiploGeno         = "Yes"
	
}
